{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import",
    "sort-destructure-keys",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "semi": ["error", "never"],
    "no-warning-comments": "warn",
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": [
      "error",
      { "optionalDependencies": false, "peerDependencies": false }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "groups": [
          ["builtin", "external"],
          ["internal", "parent", "sibling", "index"]
        ],
        "newlines-between": "always",
        "pathGroups": [
          { "group": "builtin", "pattern": "react", "position": "before" },
          {
            "group": "external",
            "pattern": "{lodash.debounce,lodash.uniqby,react-router,lodash.clonedeep,moment,lodash.orderby,polished,react-modal,big-number-input,react-dom/test-utils,react-hook-form,styled-components,react-dom,react-router-dom,logdown,moment-timezone}",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ],
    "import/prefer-default-export": 0,
    "sort-destructure-keys/sort-destructure-keys": 2,
    "react/jsx-label-has-associated-control": 0,
    "react/jsx-sort-props": 2,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
